* {
  scroll-behavior: smooth;
}

body {
  @apply bg-neutral-900 text-white;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
body::-webkit-scrollbar {
  width: 8px;
  @apply bg-neutral-900;
}
body::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
  border-radius: 4px;
}

.container-space {
  @apply mx-auto max-w-2xl px-4 py-12 sm:px-6 sm:py-16 lg:max-w-7xl lg:px-8 2xl:px-0;
}

header {
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}
header img {
  height: 64px;
  width: auto;
}
header .nav-item,
header .cart-widget {
  @apply hover:text-neutral-300;
  transition: all 0.3s ease-in-out;
}
header #navBar {
  transition: top 0.3s ease-in-out;
}
header .category-list ul {
  top: -200px;
}
header .category-list ul::-webkit-scrollbar {
  width: 8px;
  @apply bg-zinc-800;
}
header .category-list ul::-webkit-scrollbar-thumb {
  @apply bg-zinc-700;
  border-radius: 4px;
}
header .category-list:hover ul {
  @apply top-full;
}

.transition-3 {
  transition: 0.3s ease-in-out;
}

main {
  padding-top: 80px;
}

footer {
  height: 300px;
  display: flex;
  align-items: center;
  margin-top: auto;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  footer .container {
    flex-direction: row;
    gap: 32px;
    margin-top: 0;
  }
}
footer img {
  height: 120px;
  width: auto;
}
@media screen and (min-width: 768px) {
  footer img {
    justify-content: start;
  }
}
footer ul {
  display: flex;
  gap: 24px;
  height: 128px;
  padding-left: 16px;
  align-items: center;
  padding-left: 0;
}
footer ul li {
  list-style: none;
  transition: all 0.3s ease-in-out;
  @apply hover:text-neutral-300;
}
footer ul li a {
  text-decoration: none;
}
footer ul li a i {
  font-size: 32px;
}

.home__banner {
  background-image: url("https://images.unsplash.com/photo-1550009158-9ebf69173e03?q=80&w=2101&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  width: 100%;
  background-size: cover;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__sale__item {
  text-decoration: none;
  color: white;
  position: relative;
}
.home__sale__item__background {
  border-radius: 8px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  transition: opacity 0.5 ease-in-out;
}
.home__sale__item p {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
}
.home__sale__item:hover .home__sale__item__background {
  opacity: 0.5;
}
.home__sale__item:hover p {
  color: white;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us p {
  @apply my-4 text-lg text-pretty text-gray-300;
}

.contact input {
  @apply my-4 w-full h-12 rounded-md bg-neutral-700 pl-4
        focus:outline-none focus:ring-1 focus:ring-neutral-600;
}
.contact textarea {
  @apply my-4 w-full h-12 rounded-md bg-neutral-700 pl-4 pt-2
        focus:outline-none focus:ring-1 focus:ring-neutral-600;
  min-height: 100px;
}

/*# sourceMappingURL=style.css.map */
